@import './main.variables';

@import '../node_modules/bootswatch/dist/flatly/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootswatch/dist/flatly/bootswatch';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/css/solid.min.css';


.prop-card {
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: $white;

  .prop-card-top {
    position: relative;
    height: 250px;
    padding: 20px;
  }

  .prop-card-top-footer {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
  }

  .card-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
